<div class="container">

<br>Listings<br>

<% @listings.each do |listing| %>

    <a href="/listings/<%= listing.id %>"><%= listing.title %></a><br>
    $<%= listing.price %>
    per month<br>
    <% end %><br>

<a href="/listings/new" class="btn btn-info" role="button">Create a listing</a>
</div>
