<div class="container">
  <img src="https://i.ytimg.com/vi/0L1tLUujIrs/maxresdefault.jpg" alt="W3Schools.com" style="width:100%;height:40%;">
  <div class="form">
  </div>
    <div class="all-listings">
      <h3>Juanita's Listings</h3>
      <a href="/listings/new" class="btn btn-info" role="button">Create a listing</a><br><br>
        <% @listings.each do |listing| %>
        <div class="list-group">
            <a href="/listings/<%= listing.id %>" class="list-group-item"><%= listing.title %>
            $<%= listing.price %> per month</a>
        </div>
        <% end %>
    </div>
</div>
