<form action="/listings" method="POST">
  Title: <input type="text" name="title"><br>
  Location: <input type="text" name="location"><br>
  Price: <input type="text" name="price"><br>
  <textarea rows="10" cols="50" name="description"></textarea><br>
  <input type="submit">
</form>
