This page will hold the login and register page

<form action="/login" method='POST'>
  Email:
  <input type="text" name="email">
  Password:
  <input type="text" name="password"><br><br>
  <input type="submit" value="Submit">
</form>
