This page will hold the login and register page

<form action="/login" method='POST'>
  Email:
  <input type="text" name="email">
  Password:
  <input type="password" name="password"><br><br>
  <input type="submit" value="Login">
</form><br>

<%= @error %><br>

<form action="/users/new" method='GET'>
  Enter Code:
  <input type="text" name="code"><br>
  <input type="submit" value="Register">
</form>
